<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ssu.ssu.huncheckwhatssu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Rating"></activity>
        <activity android:name=".SelectPurchaserActivity" /> <!-- 공용 네이버 map 클라이언트 key 필요 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="r14df325a1" />

        <activity android:name=".NaverBookSearchActivity"></activity>
        <activity
            android:name=".SearchPlaceActivity"
            android:theme="@style/AppThemeNoTitle"></activity>
        <activity android:name=".BookInfoActivity" />
        <activity android:name=".AddBookActivity" />
        <activity android:name=".EditSell" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingPersonalInfo" />
    </application>

</manifest>